@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   초기화 코드
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------- common.css ------------- */
#wrap {
	width: 100%;
	text-align: left;
}

/* ------------- 중간부분 ------------- */
#mid {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 400px 1fr;
}

div#mid>div#grid1co {
	width:400px;
	background-color: #90abb7;
	min-height: 1250px;
}

div#mid>div#grid2co {
	padding: 50px 0px 0px 50px;
}

/* ------------- aside ------------- */
div#aside {
	padding: 8px px 8px 0px;
	max-width: 400px;
}

div.welcome {
	color: white;
	padding: 20px;
}

div.logo {
	text-align: center;
	padding: 20px
}

div.logo>img.logo {
	width: 200px;
	min-width: 280px;
}

div.subNavWrap {
	border: #79909a 1px solid;
	font-size: 1.2rem;
	padding: 20px 20px 20px 50px;
	margin: auto;
}

div.subNavWrap>a, a:hover, a:visited, a:link {
	text-decoration: none;
	color: black;
}

div.selected {
	border: #79909a 1px solid;
	font-size: 1.2rem;
	padding: 20px 20px 20px 50px;
	margin: auto;
	background-color: #768b8c;
	color: white;
	font-weight: bold;
}

img.sideImg {
	width: 24px;
	height: 24px;
}

/* ------------- Main ------------- */
